<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AutoAID ADMIN</title>
  <!--Material CDN-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@48,400,0,0" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
  <!--Stylesheet-->
  <link rel="stylesheet" href="css/admin.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</head>

<body>
  <div class="container">
    <aside>
      <div class="top">
        <div class="logo">
          <img src="autoaid_logo.png">
          <h2>AutoAID</h2>  
        </div>
        <div class="close" id="close-btn">
          <span class="material-symbols-sharp">close</span>
        </div>
      </div>

      <div class="sidebar">
        <a href="#" class="active">
          <span class="material-symbols-sharp">window</span>
          <h3>Dashboard</h3>
        </a>
        <!-- <a href="#">
          <span class="material-symbols-sharp">inventory</span>
          <h3>Inventory</h3>
        </a>
        <a href="#">
          <span class="material-symbols-sharp">garage</span>
          <h3>Garage</h3>
        </a>
        <a href="#">
          <span class="material-symbols-sharp">payments</span>
          <h3>Accounts</h3>
        </a> -->
        <!-- <a href="#">
          <span class="material-symbols-sharp">badge</span>
          <h3>Employees</h3>
        </a> -->
      </div>
    </aside>
    <main>
      <h1>Welcome <%= name %></h1>

      <div class="date">
        <p><%= day%></p>
      </div>
      <!--Bookings-->
      <div class="container">
        <div class="row">
          <div class="col-12">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">S.NO</th>
                  <th scope="col">TASK</th>
                  <th scope="col">NAME</th>
                  <th scope="col">VEHICLE NO</th>
                  <th scope="col">CHASSIS NO.</th>
                  <th scope="col">DUE DATE</th>
                  <th scope="col">ACTION</th>               
                </tr>
              </thead>
              
              <tbody>
                <%for (var i=0; i<itemName.length; i++){ %>
                <tr>
                  <th scope="row"><%= i+1%></th>
                  <td>
                    <%= itemName[i].problem%>
                  </td>
                  <td>
                    <%= itemName[i].name%>
                  </td>
                  <td>
                    <%= itemName[i].vehicle_no%>
                  </td>
                  <td>
                    <%= itemName[i].chassis%>
                  </td>
                  <td>
                    <%= itemName[i].date.toLocaleDateString('en-GB'); %>
                  </td>
                  <td>
                    <form action="/admin" method="post">
                      <select class="form-control" id="exampleFormControlSelect1" name="user">
                        <%for (var j = 0; j<empname.length; j++){ %>
                        <option value= <%= empname[j].email; %> ><%= empname[j].name;%></option>
                        <% } %>
                    </select>
                      <button name="checkbox" type="submit" class="btn btn-primary" value= <%= itemName[i].email %>>DONE</i></button>
                    </form>
                  </td>
                </tr>
                <% } %>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </main>
    <div class="right">
      <div class="top">
        <div class="profile">
          <form action="/" method="POST">
            <button type="submit" class="btn btn-primary"> Logout </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>

</html>